# API URL
VITE_API_URL="http://localhost:8000/api"

# Supabase Credentials
VITE_SUPABASE_URL="YOUR_SUPABASE_URL"
VITE_SUPABASE_ANON_KEY="YOUR_SUPABASE_ANON_KEY"


VITE_SUPABASE_URL=https://gbpvissnrctttfyrbktg.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ZMaxU8rHztTc62BEs1GrBg_iva2Jtev